# Project paths
DATA_PATH=data/raw
PROCESSED_DATA_PATH=data/processed
MODEL_PATH=models/fraud_vector_model.joblib
REPORTS_PATH=reports

# Dataset
DATASET_NAME=sgpjesus/bank-account-fraud-dataset-neurips-2022
TARGET_COLUMN=fraud_bool

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=fraud-vector-db-mlops

# Milvus
MILVUS_HOST=localhost
MILVUS_PORT=19530
MILVUS_COLLECTION=fraud_cases
MILVUS_VECTOR_DIM=32

# Decision thresholds
REVIEW_THRESHOLD=0.35
DECLINE_THRESHOLD=0.75

# Training
TEST_SIZE=0.2
RANDOM_STATE=42
N_NEIGHBORS=20
EMBEDDING_DIM=32
MAX_TRAIN_ROWS=200000
