.venv/
__pycache__/
*.pyc
.env
.mlflow/
mlruns/
mlartifacts/
artifacts/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep
reports/*
!reports/.gitkeep
*.log
.DS_Store
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
/volumes
/src/fraud_vector_db_mlops.egg-info
